@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

.nav-navbar {
  position: absolute;
  width: 100%;
  
  padding: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.title-navbar {
  text-decoration: none;
  font-style: none;
  color: #AEC5EB;
  font-size: 36px;
  font-family: Julius Sans One, sans-serif;
  font-weight: 400;
  letter-spacing: 11.88px;
  word-wrap: break-word;
  text-shadow: 0px 5px 5px #00000065;
}

.link-navbar {
  text-decoration: none;
}

.ul-navbar {
  list-style: none;
  display: flex;
}

.a-navbar {
  text-decoration: none;
  font-style: none;
  color: #AEC5EB;
  padding: 0 20px;
  font-size: 18px;
  font-family: Julius Sans One, sans-serif;
  font-weight: 400;
  text-shadow: 0px 5px 5px #00000065;
  transition: 0.3s ease-in-out;
}
.a-navbar:hover {
  text-decoration: none;
  color: white;
}
